body {
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
a {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.main__buttom {
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2196f3;
  color: #ffffff;
  fill: #ffffff;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  /* padding-top: 24px;
    padding-bottom: 24px;*/
  border-bottom: 1px solid #ececec;
}

.header-logo {
  color: #212121;
}

.header-webstudio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 50px;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 48px 0;
}
.mob-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}

.menu-close__btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background-color: #fff;
  color: #757575;
}

.menu-open__btn {
  top: 15px;
  right: 15px;
  border: none;
  background-color: #fff;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .menu-open__btn {
    display: none;
  }
}

.menu-close__btn:hover,
.menu-close__btn:focus {
  color: #2196f3;
}

.mob-icon__close {
  fill: currentColor;
}

.mob-navigation__item:not(:last-child) {
  margin-bottom: 25px;
}

.mob-navigation__link:hover,
.mob-navigation__link:focus {
  color: #2196f3;
}

.mob-navigation__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-contact__list {
  margin-bottom: 55px;
}

.mob-tel__link {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

.mob-mail__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.mob-social__item:nth-child(n+2)::before {
  content: "";
  border: 1px solid rgba(90, 87, 87, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 5px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mob-social__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5714285714;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact__item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__icon {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  font-family: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__icon:focus, .contact__icon:hover {
  color: #2196f3;
}

.icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item {
  position: relative;
  padding: 30px 0;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__list .navigation__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -22px;
  border-radius: 2px;
  background: #2196f3;
}

.navigation__list .navigation__link.current {
  color: #2196f3;
}

.bussines {
  background: #2f303a;
  text-align: center;
  padding: 118px 0;
  max-width: 480px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images//ko.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images//ko.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bussines {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/ko.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/ko.jpg");
  }
}
@media screen and (min-width: 768px) {
  .bussines {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/ko.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/ko.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .bussines {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/ko.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/ko.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .bussines {
    padding: 200px 0;
    max-width: 1600px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/ko.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/ko.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .bussines {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/ko.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/ko.jpg");
  }
}

.bussines-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  max-width: 360px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .bussines-title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .bussines-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.bussines-button {
  padding: 10px 32px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.bussines-button:hover, .bussines-button:focus {
  background-color: #188ce8;
}

.proposition {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .proposition {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.proposition__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.proposition__item {
  text-align: left;
}
@media screen and (min-width: 768px) {
  .proposition__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .proposition__item {
    width: calc((100% - 90px) / 4);
  }
}

.proposition__item::before {
  display: block;
  content: " ";
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.proposition__item:nth-child(1)::before {
  background-image: url(../images/icons.svg/construction-machine.svg);
  -o-object-fit: cover;
     object-fit: cover;
}

.proposition__item:nth-child(2)::before {
  background-image: url(../images/icons.svg/construction.svg);
  -o-object-fit: cover;
     object-fit: cover;
}

.proposition__item:nth-child(3)::before {
  background-image: url(../images/icons.svg/excavator.svg);
}

.proposition__item:nth-child(4)::before {
  background-image: url(../images/icons.svg/truck.svg);
}

.proposition__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.proposition__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1199px) {
  .doing {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .doing {
    padding-bottom: 94px;
  }
}

.doing__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
}

.doing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.doing__item {
  position: relative;
  display: block;
}

.doing__thumb {
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
}

.thumb__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.team__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team-card {
  padding: 30px 0;
}

.team-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: #212121;
}

.team-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: duration;
          transition-duration: duration;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link-color {
  fill: rgb(175, 177, 184);
  background-color: transparent;
}
.social__link-color .social__link-color:focus, .social__link-color:hover, .social__link-color:focus, .social__link-color:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.customers {
  padding: 60px 0;
  text-align: center;
}

.customers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  font-family: inherit;
  font-style: normal;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .customers__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.customers__item {
  height: 90px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: calc((100% - 150px) / 6);
  }
}

.customers__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid rgb(175, 177, 184);
  fill: rgb(175, 177, 184);
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: timing-function;
          transition-timing-function: timing-function;
}

.customers__link:hover,
.customers__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrap {
    text-align: left;
  }
}

.footer-webstudio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-logo {
  color: #ffffff;
}

.footer__address {
  font-style: normal;
  margin-top: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-soc {
    display: inline-block;
  }
}

.footer-soc-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__link-color {
  fill: rgb(175, 177, 184);
  background: rgba(255, 255, 255, 0.1);
  fill: rgb(255, 255, 255);
}
.footer__link-color:hover, .footer__link-color:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-top: 0;
  }
}

.footer-form-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-imput {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  padding: 15px 0 15px 16px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-imput:focus {
  border: 1px solid #2196f3;
  outline: none;
}
.footer-imput::-webkit-input-placeholder {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-imput::-moz-placeholder {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-imput:-ms-input-placeholder {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-imput::-ms-input-placeholder {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-imput::placeholder {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .footer-imput {
    width: 360px;
  }
}

.footer-form-btn {
  padding: 10px 29px 10px 28px;
  margin-left: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition-property: background-color, color, fill, -webkit-box-shadow;
  transition-property: background-color, color, fill, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow, fill;
  transition-property: background-color, color, box-shadow, fill, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover, .footer-form-btn:hover {
  background-color: #ffffff;
  color: #188ce8;
  fill: #188ce8;
}

.footer-icon-form {
  margin-left: 10px;
}

.portfolio-navigation {
  padding-top: 94px;
  padding-bottom: 94px;
  width: 100%;
}

.portfolio-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .portfolio-navigation__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.buttons-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  color: #212121;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-button:hover, .buttons-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  border-color: transparent;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__link {
  width: 100%;
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio-overlay__text,
.portfolio__link:focus .portfolio-overlay__textt {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.portfolio-overlay__text {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 149, 243, 0.9647058824);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  /*transition: transform 250ms ease;*/
  padding: 64px 24px;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__content {
  padding: 20px 24px;
  border: 1px solid #ffffff;
  border-top: none;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  max-width: 530px;
  min-height: 590px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 30px;
  }
}

.modal__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  color: #2196f3;
}

.icon__close {
  fill: currentColor;
}

.modal__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  font-family: inherit;
  display: block;
  color: #212121;
  margin-top: 20px;
}

.input-wrap {
  position: relative;
  height: 40px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding-left: 40px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border: 1px solid #2196f3;
}

/*.modal-input:not(:placeholder-shown){
    border-color: #2196F3;
  }*/
.svg__modal {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal__input:focus + .svg__modal {
  fill: #2196f3;
}

.modal__text {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal__text:focus {
  border: 1px solid #2196f3;
}

.label__checkbox {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .label__checkbox {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
  }
}

.modal__checkbox {
  /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;*/
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.custom__checkbox {
  display: inline-block;
  border: 2px solid black;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  cursor: pointer;
  margin-right: 5px;
}

.modal__checkbox:checked + .custom__checkbox {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icons.svg/icon-check.svg);
  background-size: contain;
}

.agreement__link {
  color: #2196f3;
  border-bottom: 1px solid;
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-left: 5px;
}

.modal-button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.modal-buttom-send {
  width: 200px;
  height: 50px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-buttom-send:hover, .modal-buttom-send:focus {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */